<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
      <add id="Magento_ImportExport::mappconnect" title="Mapp Connect" translate="title" module="Mapp_Connect"
        sortOrder="50" parent="Magento_Backend::system_convert"
        dependsOnModule="Mapp_Connect" action="mappconnect/importexport" resource="Magento_ImportExport::mappconnect"/>
    </menu>
</config>
